@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Patrick+Hand&display=swap');

* {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Kalam', cursive;
}

html {
  font-size: 20px;
}

body {
  background-image: url('./img/laughing-emojis-bg(faded).jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
