@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap";

// VARIABLES
// Colors
$green-success-color: #087f23;
$light-blue-edit-color: #42a5f5;
$dark-blue-add-color: #0077c2;
$red-danger-color: #f44336;
$green-border-color: #e67373;
$green-submit-color: #00897b;
$green-box-shadow-color: #b2dfdb;
$green-background-color: #e0f2f1;
$green-modal-background-color: rgba(0, 105, 92,0.95);

// Text Shadow
$dark-text-shadow: rgb(0, 28, 24) 3px 0px 0px, rgb(0, 28, 24) 2.83487px 0.981584px 0px, rgb(0, 28, 24) 2.35766px 1.85511px 0px, rgb(0, 28, 24) 1.62091px 2.52441px 0px, rgb(0, 28, 24) 0.705713px 2.91581px 0px, rgb(0, 28, 24) -0.287171px 2.98622px 0px, rgb(0, 28, 24) -1.24844px 2.72789px 0px, rgb(0, 28, 24) -2.07227px 2.16926px 0px, rgb(0, 28, 24) -2.66798px 1.37182px 0px, rgb(0, 28, 24) -2.96998px 0.42336px 0px, rgb(0, 28, 24) -2.94502px -0.571704px 0px, rgb(0, 28, 24) -2.59586px -1.50383px 0px, rgb(0, 28, 24) -1.96093px -2.27041px 0px, rgb(0, 28, 24) -1.11013px -2.78704px 0px, rgb(0, 28, 24) -0.137119px -2.99686px 0px, rgb(0, 28, 24) 0.850987px -2.87677px 0px, rgb(0, 28, 24) 1.74541px -2.43999px 0px, rgb(0, 28, 24) 2.44769px -1.73459px 0px, rgb(0, 28, 24) 2.88051px -0.838247px 0px;

// ICONS
$icon-filled: 'FILL' 1, 'wght' 800, 'GRAD' 200, 'opsz' 48;
$icon-not-filled: 'FILL' 0, 'wght' 800, 'GRAD' 200, 'opsz' 48;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-rif;
	font-weight: lighter;
	color: #001c18;
}
html {
	font-size: 12px;
}
body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
