#main-section {
    min-height: 30vh;
    height: 100vh;

    min-width: 100vw;

    background: url("../img/bookshelf.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 30px;
    box-shadow: 0px 11px 20px var(--green-box-shadow-color);
    position:fixed;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: height 1s;

        /* ! TO BE REMOVED */
        /* display: none; */
}

#main-section .shrink-section-button {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#main-section .shrink-section-button span {
    cursor: pointer;
    color: white;

    position: absolute;
    top: 50px;
    left: 50px;

    font-size: 50px;

    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 200,
    'opsz' 48;

    text-shadow: rgb(0, 28, 24) 3px 0px 0px, rgb(0, 28, 24) 2.83487px 0.981584px 0px, rgb(0, 28, 24) 2.35766px 1.85511px 0px, rgb(0, 28, 24) 1.62091px 2.52441px 0px, rgb(0, 28, 24) 0.705713px 2.91581px 0px, rgb(0, 28, 24) -0.287171px 2.98622px 0px, rgb(0, 28, 24) -1.24844px 2.72789px 0px, rgb(0, 28, 24) -2.07227px 2.16926px 0px, rgb(0, 28, 24) -2.66798px 1.37182px 0px, rgb(0, 28, 24) -2.96998px 0.42336px 0px, rgb(0, 28, 24) -2.94502px -0.571704px 0px, rgb(0, 28, 24) -2.59586px -1.50383px 0px, rgb(0, 28, 24) -1.96093px -2.27041px 0px, rgb(0, 28, 24) -1.11013px -2.78704px 0px, rgb(0, 28, 24) -0.137119px -2.99686px 0px, rgb(0, 28, 24) 0.850987px -2.87677px 0px, rgb(0, 28, 24) 1.74541px -2.43999px 0px, rgb(0, 28, 24) 2.44769px -1.73459px 0px, rgb(0, 28, 24) 2.88051px -0.838247px 0px;
}

#main-section .mask{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;

}

#main-section h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 7.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 28, 24) 3px 0px 0px, rgb(0, 28, 24) 2.83487px 0.981584px 0px, rgb(0, 28, 24) 2.35766px 1.85511px 0px, rgb(0, 28, 24) 1.62091px 2.52441px 0px, rgb(0, 28, 24) 0.705713px 2.91581px 0px, rgb(0, 28, 24) -0.287171px 2.98622px 0px, rgb(0, 28, 24) -1.24844px 2.72789px 0px, rgb(0, 28, 24) -2.07227px 2.16926px 0px, rgb(0, 28, 24) -2.66798px 1.37182px 0px, rgb(0, 28, 24) -2.96998px 0.42336px 0px, rgb(0, 28, 24) -2.94502px -0.571704px 0px, rgb(0, 28, 24) -2.59586px -1.50383px 0px, rgb(0, 28, 24) -1.96093px -2.27041px 0px, rgb(0, 28, 24) -1.11013px -2.78704px 0px, rgb(0, 28, 24) -0.137119px -2.99686px 0px, rgb(0, 28, 24) 0.850987px -2.87677px 0px, rgb(0, 28, 24) 1.74541px -2.43999px 0px, rgb(0, 28, 24) 2.44769px -1.73459px 0px, rgb(0, 28, 24) 2.88051px -0.838247px 0px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.search-form label {
    font-size: 2rem;
    flex-basis: 100%;
    text-align: center;
}

.search-form input[type="text"] {
    flex-grow: 1;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid var(--green-border-color);
    font-size: 1.5rem;
}


.search-form input[type="submit"] {
    min-width: 100px;
    min-height: 30px;
    font-size: 2rem;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;

    background-color: var(--green-submit-color);
    border: 1px solid var(--green-border-color);
    color: #001c18;
}