@media (max-width: 1400px) {
	#main-section {
		h1 {
			font-size: 3.5rem;
		}
	}
}
@media (max-width: 768px) {
	html {
		font-size: 15px;
	}

	#main-section {
		h1 {
			font-size: 3rem;
			margin-bottom: 20px;
		}

		.shrink-section-button {
			top: 10px;
			left: 10px;

		}
		.show-favorites-button {
			top: 10px;
			right: 10px;
			text-shadow: $dark-text-shadow;
			span.filled-star {
				text-shadow: $dark-text-shadow;
			}
		}

		.mask {
			padding: 15px;
			.search-form {
				input[type="text"] {
					flex-grow: 1;
				}
				input[type="submit"] {
					margin: 0 auto;
					font-size: inherit;
					min-height: auto;
					min-height: 30px;
					padding: 0 20px;
					min-width: 0;
				}
			}
		}
	}
	
	#search-results-section {
		padding: 30px 15px;
		gap: 50px;
	
		.book-card {
			flex-basis: 100%;
		}
	}

	.modal form {
		min-width: 70%;
	}
	
}
@media (min-width: 768px) {
	.book-card {
		flex-basis: calc(50% - 30px);
	}
}
@media (min-width: 1400px) {
	.book-card {
		flex-basis: calc(33% - 30px);
	}
}
